body {
    background-color: hsl(223, 10%, 13%);
}

p {
    font-size: 17px;
    text-align: justify;
    font-family: "Open Sans", serif;
    line-height: 25px;
    text-indent: 45px;
    padding-right: 30px;
    padding-left: 45px;
}

#power {
    font-family: Arial Black, serif;
    text-shadow: green 1px 1px 0, red -1px -1px 0,
    red -1px 1px 0, red 1px -1px 0;
    transform: skewX(10deg);
}

p u[id="important"] {
    font-size: 20px;
    font-family: Impact, fantasy;
    color: green;
    letter-spacing: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;
    min-width: 430px;
}


#same_line {
    display: inline-block;
    float: left;
    padding-right: 12px;
}

h1.first_head {
    font-size: 28px;
    text-align: right;
    padding-top: 22px;
    padding-right: 30px;
    font-family: "Orchidea Pro", serif;
    text-shadow: 4px 2px 7px darkslategray;
    color: black;
    transition: color 0.5s;
}

h1.first_head:hover {
    color: red;
}

.quote {
    margin: 0;
    margin-left: 16px;
    margin-right: 16px;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
    text-align: justify;
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
}

p.on_top {
    font-size: 14px;
    line-height: 18px;
    text-indent: 0px;
    padding-right: 0px;
    padding: 16px;
    position: absolute;
    text-align: left;

    color: white;
    z-index: 101;
    opacity: 0.86;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 40px;
    box-shadow: 4px 4px 6px 2px darkslateblue;
    background: radial-gradient(hsl(0, 100%, 32%), hsl(255, 100%, 0%));
}

p.first_empty_ending {
    padding-top: 50px;
}

table.table_style {
    border-collapse: collapse;
    border: 1px solid black;
    width: 535px;
}

table.table_style td {
    border: 1px solid black;
    text-indent: 5px;
    padding-right: 5px;
}

table.table_style th {
    border: 1px solid black;
    background: yellow;
}

li {
    list-style: none;
}

li.first_elem {
    font-size: 22px;
    font-family: Consolas;
    color: blue;
    text-shadow: 2px 2px 5px black;
}

ol {
    padding-left: 45px;
}

li.second_elem {
    font-family: Courier New;
    color: #800080;
    font-style: italic;
    padding-right: 45px;
    box-shadow: 3px 1px 4px 2px black inset;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
}

.spoiler {
    border: 1px solid #e0e0e0;
    padding: 0 1em;
}

.spoiler details {
    padding: 1em 0;
}

.spoiler details + details {
    border-top: 1px solid #e0e0e0;
}

.spoiler summary {
    color: #4d5895;
}

.spoiler details article {
    overflow: hidden;
    padding: 1em 1em 0;
}

.spoiler details[open] article {
    animation: spoiler 1s;
}

@keyframes spoiler {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 10em;
    }
}

.little_image {
    width: 315px;
    height: 580px;
    padding-left: 45px;
}

.little_image_2 {
    width: 315px;
    height: 310px;
    padding-left: 45px;
}

.not_indent {
    text-indent: 0px;
}

.spoiler_image {
    width: 315px;
    height: 580px;
    padding-left: 260px;
}

li.menu {
    color: black;
    display: inline;
    border: 2px solid grey;
    border-collapse: collapse;
    margin-left: 1px;
    margin-right: 2px;
    text-indent: 5px;
    padding: 5px;
    background: white;
    font-family: Calibri;
    letter-spacing: 0.3px;
}

ul.cntr_menu {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 0px;
}

p.copyright {
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin-left: -21px;
}

#rewiev {
    height: 140px;
    width: 140px;
    display: inline-block;
    float: left;
    border-radius: 100px;
    padding: 10px;
}

audio {
    max-width: 645px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid black;
}

.comment {
    font-family: Pribambas;
    font-size: 25px;
}

#video {
    border-radius: 40px;
}

a:link {
    color: #FFFF00;
}

a:visited {
    color: #BCFF00;
}

a:hover {
    color: #EE00FF;
}

a:active {
    color: #1200FF;
}

@media screen and (max-width: 1115px) {

    #same_line.little_image, #same_line.little_image_2 {
        padding-left: 45px;
    }

    img {
        width: 100%;
        height: auto;
    }

    #same_line {
        width: 38%;
        height: 38%;
        min-width: 215px;
        padding-left: 30px;
    }

    #video {
        width: 100%;
        min-height: 520px;
        height: auto;
    }

    table.table_style {
        width: 85%;
        margin: auto;
        text-align: center;
    }

    p.on_top {
        margin-left: 65px;
        width: 210px;
        top: 700px;
    }

}

@media screen and (max-width: 922px) {
    audio {
        max-width: 550px;
    }
}

@media screen and (min-width: 930px) {
    .center {
        width: 50%;
        max-width: 900px;
        min-width: 900px;
    }
}

@media screen and (max-width: 837px) {
    p.on_top {
        margin-left: 55px;
        width: 185px;
        height: 225px;
        top: 580px;
    }

    audio {
        max-width: 450px;
    }
}

@media screen and (max-width: 735px) {
    p.on_top {
        font-size: 12.5px;
        margin-left: 10px;
        width: 170px;
        height: 228.5px;
        top: 380px;
    }

    audio {
        max-width: 350px;
    }
}

@media screen and (max-width: 680px) {
    #video {
        width: 100%;
        min-height: 470px;
        height: auto;
    }

    .comment {
        font-size: 20px;
    }

    audio {
        max-width: 300px;
    }
}

@media screen and (max-width: 581px) {
    audio {
        max-width: 268px;
    }
}

@media screen and (max-width: 547px) {
    audio {
        max-width: 248px;
    }
}

@media screen and (max-width: 540px) {
    ul.cntr_menu {
        font-size: smaller;
    }

    .comment {
        font-size: 17px;
    }

    audio {
        max-width: 218px;
    }
}

@media screen and (max-width: 502px) {
    audio {
        max-width: 185px;
    }
}

@media screen and (max-width: 462px) {
    ul.cntr_menu {
        font-size: 13px;
    }
}

@media screen and (max-width: 530px) {
    #video {
        width: 100%;
        min-height: 300px;
        height: auto;
    }
}

@media screen and (min-width: 1116px) {

    .center {
        width: 50%;
        max-width: 900px;
        min-width: 900px;
    }

    #video {
        width: 100%;
        height: 614px;
    }

    p.on_top {
        margin-top: -73px;
        margin-left: 103px;
        width: 210px;
        height: 200px;
        display: block;
    }

}

@font-face {
    font-family: 'Pribambas';
    src: url('fonts/Pribambas-Regular.eot');
    src: local('Pribambas-Regular'),
    url('fonts/Pribambas-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Pribambas-Regular.woff2') format('woff2'),
    url('fonts/Pribambas-Regular.woff') format('woff'),
    url('fonts/Pribambas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sulphur Point';
    src: url('fonts/SulphurPoint-Regular.eot');
    src: local('Sulphur Point Regular'), local('SulphurPoint-Regular'),
    url('fonts/SulphurPoint-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/SulphurPoint-Regular.woff2') format('woff2'),
    url('fonts/SulphurPoint-Regular.woff') format('woff'),
    url('fonts/SulphurPoint-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sulphur Point';
    src: url('fonts/SulphurPoint-Light.eot');
    src: local('Sulphur Point Light'), local('SulphurPoint-Light'),
    url('fonts/SulphurPoint-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/SulphurPoint-Light.woff2') format('woff2'),
    url('fonts/SulphurPoint-Light.woff') format('woff'),
    url('fonts/SulphurPoint-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sulphur Point';
    src: url('fonts/SulphurPoint-Bold.eot');
    src: local('Sulphur Point Bold'), local('SulphurPoint-Bold'),
    url('fonts/SulphurPoint-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/SulphurPoint-Bold.woff2') format('woff2'),
    url('fonts/SulphurPoint-Bold.woff') format('woff'),
    url('fonts/SulphurPoint-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orchidea Pro';
    src: local('Orchidea Pro Medium Italic'), local('Orchidea-Pro-Medium-Italic'),
    url('fonts/OrchideaPro-MediumItalic.woff2') format('woff2'),
    url('fonts/OrchideaPro-MediumItalic.woff') format('woff'),
    url('fonts/OrchideaPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

div#board {
    position: relative;
    min-width: 900px;

    height: 863px;
    margin: auto;
    background: url("images/board.jpg") no-repeat;
}

div#messageArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(83, 175, 19);
}

table.battle {
    position: absolute;
    left: 153px;
    top: 98px;
    border-spacing: 0px;
}

td.battle {
    width: 94px;
    height: 94px;
}

form {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 2px;
    background-color: rgb(83, 175, 19);
}

form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
}

.hit {
    background: url("images/ship.png") no-repeat center center;
}

.miss {
    background: url("images/miss.png") no-repeat center center;
}

#defaultCountdown {
    height: 55px;
    font-size: 20px;
}